<div class="title-field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="room_type-field">
  <%= form.label :room_type %>
  <%= select :listing, :room_type, [["entire_house", :entire_house], ["private_room", :private_room], ["shared_room", :shared_room]] %>
</div>

<div class="price-field">
  <%= form.label :price %>
  <%= form.text_field :price %>
</div>

<div class="description-field">
  <%= form.label :description %>
  <%= form.text_field :description %>
</div>

<%= form.collection_check_boxes :tag_ids, Tag.all, :id, :name %>

