<div class='form-group'>
	<%= form_for @listing, url:{:action => 'search'} do |form| %>

	  <div class="row">
	    <div class="col-xs-4">

		  <!--
		  <%= form.label :room_type, class: 'control-label' %><%= select :listing, :room_type,[["entire_house", :entire_house], ["private_room", :private_room], ["shared_room", :shared_room]]%>
		  -->
		  
		  <%= form.label :price, class: 'control-label'%>
		  <%= form.text_field :price, class: 'form-control' %>
		  
		  <%= form.submit 'Search' %>
		</div>
	   </div>

	<% end%>
</div>

<div class="row">
	<% @listings.each do |listing|  %>
        <div class="col-xs-6">

			<% if !listing.avatars.first.nil? %>
	      			<%= image_tag listing.avatars.first.thumb.url %><br>
			<% end %>
			<%= link_to "$#{listing.price}:#{listing.title}", listing_path(listing) %><br>

			<p>★★★★★</p>
            	
        </div>
		<% end %>
</div>
