<!DOCTYPE html>
<html>
  <head>
    <title>PairBnB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
 	
 	<% if signed_in? %>
		<%= current_user.email %>
		<%= button_to "Sign out", sign_out_path, method: :delete %>
    <H3>Menu</H3>
    <%= link_to "Listings", "/listings" %><br>
    <%= link_to "New Listing", "/listings/new" %><br>
    <%= link_to "Profile", edit_user_path(current_user.id) %><br>
  <% else %>    
    <%= link_to "Sign in with email", sign_in_path %><br>
    <%= link_to "Sign in with Facebook", "/auth/facebook" %><br>
    <%= link_to "Sign up", sign_up_path %><br>
  <% end %>
    <%= link_to "Top Menu", "/" %>


    <%= yield %>
  
  </body>
</html>
