<!DOCTYPE html>
<html>
  <head>
    <title>PairBnB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
   	<div id="flash">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
    </div>


    <div id='menu'>
    <% if signed_in? %>
      <%= current_user.email %>
       <ul class="list-nav00">
        <li><%= link_to "Top", "/listings" %></li>
        <li><%= link_to "My resrvations", user_reservations_path(current_user.id) %></li>
        <li><%= link_to "Profile", edit_user_path(current_user.id) %></li>
        <li><%= link_to "Sign out", sign_out_path, method: :delete  %></li>
       </ul>
    <% else %>    
       <ul class="list-nav00">
        <li><%= link_to "Sign up", sign_up_path %></li>
        <li><%= link_to "Sign in with Facebook", "/auth/facebook" %></li>
        <li><%= link_to "Sign in with email", sign_in_path %></li>
       </ul>
    <% end %>
    </div>

      <%= yield %>
  </div>
  </body>
</html>
